# Data Science Tools and Ecosystem

**Objectives**

- Populat Data Science Languages
- Commonly used Libraries in Data Science
- List of Data Science Tools
- Evaluating Arithmetic Expressions

The focus of this notebook is to summarize data science tools and ecosystems.

Data Science is a melting pot of coding languages. Here are some of them:

1. Python
2. R
3. SQL
4. Scala
5. Julia

Some of the labraries commonly used by Data Scientists include:

1. NumPy
2. Pandas
3. scikit-learn
4. dplyr
5. ggplot2
6. plotly
7. seaborn
8. caret
9. keras

|Data Science Tools|
|------------------|
|Jupyter Notebook |
|VS Code|
|Eclipse|

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# A simple arithmetic expression to multiply then add integers

(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

## Author
Bargley